[submodule ".registry"]
	path = .registry
	url = https://github.com/leslie-lu/leslie-lu.r-universe.dev
	branch = HEAD
[submodule "createAddins"]
	path = createAddins
	url = https://github.com/Leslie-Lu/createAddins
